<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Tech Blog
      </h1>
      <h2 class="subtitle">
        A place for developers to share their thoughts
      </h2>
    </div>
  </div>
</section>

<div class="container">
  <div class="columns">
    <div class="column is-full">
      {{#each posts}}
      <div class="card my-4">
        <div class="card-content">
          <div class="media">
            <div class="media-content">
              <p class="title is-4">{{title}}</p>
              <p class="subtitle is-6">By {{user.username}} on {{formattedDate createdAt}}</p>
            </div>
          </div>

          <div class="content">
            {{content}}
          </div>
          
          {{!-- Display comments for each post with a different format --}}
          <div class="comments mt-4">
            <h3 class="subtitle is-6">Comments:</h3>
            {{#each comments}}
            <div class="content">
              <p><strong>{{user.username}}</strong> on {{formattedDate createdAt}}:</p>
              <blockquote class="blockquote pl-4">{{content}}</blockquote>
            </div>
            {{/each}}
          </div>
          
        </div>
        <div class="card-content comment-form">
          <form>
            <div class="field is-grouped">
              <div class="control is-expanded">
                <input class="input" type="text" placeholder="Type your comment..." data-post-id="{{id}}">
              </div>
              <div class="control">
                <button class="button is-primary is-small" type="submit" data-post-id="{{id}}">Submit Comment</button>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script src="/public/js/home.js"></script>

